.divImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;

    object-fit: cover;

    overflow: hidden;
}


.divImg img{
    margin: auto;
    padding: 8px;
    max-height: 180px;
}